#show-order{
  display: none;
}

body{
  background-color: #d6ccb1;
}

h1{
  text-align: center;
}

h2{
  padding: 30px;
}

form{
  padding: 30px;
}

ul#order{
  text-align: center;
  list-style-type: none;
}

li{
  text-align: center;
}

.jumbotron{
  background-color: white;
  height: 50px;
  width: auto;
}
