#show-order{
  display: none;
}

body{
  background-color: #d6ccb1;
}

h1{
  text-align: center;
}

h2{
  text-align: center;
  padding: 30px;
}

h4{
  text-align: center;
  margin-top: 60px;
  margin-bottom: 30px;
}

form{
  padding: 30px;
}

li{
  text-align: center;
}

hr{
  margin-top: 60px;
}

.jumbotron{
  background-color: white;
}

.btn-danger{
  margin: 30px;
  float: right;
}

.highlight {
  color: red;
}
